In [1]:
import pandas as pd
from urllib.parse import urlparse

In [2]:
pd.read_csv(r'C:\Users\Aiman\Desktop\FYP\data.txt')

                           url label
0       diaryofagameaddict.com   bad
1             espdesign.com.au   bad
2           iamagameaddict.com   bad
3                kalantzis.net   bad
4        slightlyoffcenter.net   bad
...                        ...   ...
420459         23.227.196.215/   bad
420460      apple-checker.org/   bad
420461       apple-iclods.org/   bad
420462      apple-uptoday.org/   bad
420463       apple-search.info   bad

[420464 rows x 2 columns]

In [3]:
data=pd.read_csv(r'C:\Users\Aiman\Desktop\FYP\data.txt')

In [4]:
data['label'].value_counts()

good    344821
bad      75643
Name: label, dtype: int64

In [5]:
def no_of_dir(url): #count_dir
    urldir = urlparse(url).path
    return urldir.count('/')

In [6]:
def fd_length(url): #fd_length
    urlpath= urlparse(url).path
    try:
        return len(urlpath.split('/')[1])
    except:
        return 0

In [7]:
def digit_count(url): #count_digit
    digits = 0
    for i in url:
        if i.isnumeric():
            digits = digits + 1
    return digits

In [8]:
data['url_length'] = data['url'].apply(lambda i: len(str(i))) #URL_Lenght
data['hostname_length'] = data['url'].apply(lambda i: len(urlparse(i).netloc)) #Hostname_lenght
data['count_dir'] = data['url'].apply(lambda i: no_of_dir(i))
data['fd_length'] = data['url'].apply(lambda i: fd_length(i))
data['count-digits']= data['url'].apply(lambda i: digit_count(i))
data.head()

,url,label,url_length,hostname_length,count_dir,fd_length,count-digits
0,diaryofagameaddict.com,bad,22,0,0,0,0
1,espdesign.com.au,bad,16,0,0,0,0
2,iamagameaddict.com,bad,18,0,0,0,0
3,kalantzis.net,bad,13,0,0,0,0
4,slightlyoffcenter.net,bad,21,0,0,0,0

In [9]:
data['hostname_length'].value_counts()

0     420345
39        14
26        13
17        11
15         9
12         8
22         7
18         7
13         6
14         6
16         5
20         5
34         4
11         4
10         3
19         3
21         2
23         2
24         2
30         2
7          2
46         2
25         1
27         1
Name: hostname_length, dtype: int64

In [10]:
data['count_dir'].value_counts()

1     140159
2     116391
3      85187
4      39231
5      22797
6       8436
7       3506
0       2161
8       1531
9        473
10       241
11       159
12        90
13        38
16        28
14        11
15         8
17         5
21         4
19         3
18         2
22         2
20         1
Name: count_dir, dtype: int64

In [11]:
data['fd_length'].value_counts()

4      56892
0      54057
5      40833
6      37819
7      27855
       ...
155        1
146        1
408        1
147        1
212        1
Name: fd_length, Length: 176, dtype: int64

In [12]:
data['count-digits'].value_counts()

0      203709
4       24596
1       22354
6       22349
2       21662
        ...
175         1
545         1
176         1
177         1
242         1
Name: count-digits, Length: 217, dtype: int64

In [13]:
data.to_csv('parse_finish.csv')